<div class = "position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class = "col-md-5 p-lg-5 mx-auto my-5">
    <h1 [ngStyle]="{
      'color': h1Style ? 'black' : 'blue',
      'font-size': !h1Style ? '4em' : '3em'
    }"
     class= "dispaly-4 font-weight-normal"> Home Page</h1>
    <p class="lead font-weight-normal">
      iyfoiwebfbwbv kvbjwebvpw wvwelbv kjwebfl bqefbl WVLWEIBF WLBJJDEBFJ ksd
      sdbh iwefh wiuegfio iwbjidjhi lwibfu iuuwehfn
    </p>
    <button class="btn btn-primary" (click)="styleChange()">Change the style</button>
  </div>
</div>
